<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
        .table1{
            border: 1px solid black;
            padding:10px;
            text-align:center;
    }
        th, td{
            border: 1px solid black;
            padding:10px;
            text-align:center;
    }
</style>
<body>
        <div class="table-responsive-lg">
            <table class="table1">
            <caption>재고관리 리스트</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>dd</td>
                    <td>dd</td>
                    <td>dd</td>
                    <td>dd</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">2</th>
                    <th>dd</th>
                    <th>dd</th>
                    <th>dd</th>
                    <th>dd</th>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th>dd</th>
                    <th>dd</th>
                    <th>dd</th>
                    <th>dd</th>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <th>dd</th>
                    <th>dd</th>
                    <th>dd</th>
                    <th>dd</th>
                </tr>
            </tfoot>
            </table>
        <div/>
</body>
</html>